kaggle>=1.6,<2
jupyterlab>=4.2,<5
matplotlib>=3.9,<4
numpy>=2.0,<3
opencv-python-headless>=4.10,<5
pandas>=2.2,<3
Pillow>=10.4,<12
fastapi>=0.115,<1
python-multipart>=0.0.18,<1
scikit-learn>=1.5,<2
torch>=2.4,<3
torchvision>=0.19,<1
tqdm>=4.66,<5
uvicorn[standard]>=0.30,<1
